@CHARSET "UTF-8";

#header {
	z-index: 1;
	position: fixed;
	width: 99%;
	margin-top: -20px;
	height: 60px;
	background-color: #06731C;
	margin-bottom: 5px;
	margin-bottom: 10px;
}
.header{
	position: relative;
	width: 100%;
	margin-top: -20px;
	height: 60px;
	background-color: #06731C;
	margin-bottom: 5px;
	margin-bottom: 10px;
}

#name {
	float: left;
	margin-left: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

#link {
	float: left;
	margin-left: 10px;
	padding-top: 15px;
	font-size: 14px;
	font-family: Tahoma, sans-serif;
	color: #ffffff;
	text-decoration: none;
}

.image {
	float: right;
	margin-right: 5px;
	padding-top: 15px;
	text-decoration: none;
	border-style: none;
}

#email {
	float: right;
	margin-left: 5px;
	margin-right: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

h4 {
	margin-left: 15px;
	margin-bottom: 15px;
	font-family: Verdana, sans-serif;
	color: #06731C;
}

.right p {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -10px;
	font-family: Garamond, serif;
	color: #000000;
}

li {
	list-style-type: square;
	margin-left: 25px;
}

a:hover {
	color: #06731C;
}

a:visited {
	text-decoration: none;
	color: #06731C;
}

.left {
	position: relative;
	float: left;
	margin-top: 50px;
	width: 10%;
	height: 350px;
	background-color: #959C97;
	margin-bottom: 10px;
}

#menu {
	float:left;
	width: 100px;
	height: 335px;
	background-color: #959C97;
	padding: 5px;
	position: relative;
	margin-top: 50px;
}
.right {
	position: relative;
	float: right;
	margin-top: 50px;
	width: 88%;
	height: 350px;
	background-color: #ffffff;
	margin-bottom: 10px;
}

#footer {
	position: relative;
	height: 50px;
	background-color: #06731C;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}

#footer p {
	position: relative;
	padding-top: 15px;
}

#table {
	table-layout: auto;
	border-style: solid;
	margin-left: 10px;
		
}

#table th {
	border-bottom-style: solid;
	border-bottom-color: #06731C;
	border-bottom-style: groove;
}

td {
	padding-right: 10px;
	text-align: left;
}
table tr th {
	color:#b4ff9e;
	background-color: #4f4e4e;
}